.App {
  text-align: center;
  font-family: "SF Pro Rounded";
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-link {
  color: #09d3ac;
}

.app {
  margin: 8px;
  padding: 14px;
}

.file-upload-container {
  height: 100%;
  width: 100%;
}

.file-upload-info-container {
  width: 100%;
}

.file-upload-metadata-section {
  width: 100%;
  display: flex;
  align-content: center;
}

.file-upload-album-and-song-section, .file-upload-version-section {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  justify-content: center;
  align-content:space-around;
  align-self: center;
  align-items: center;
}

.file-album-input-container, .file-song-input-container {
  width: 75%;
  flex: 1 1 auto;
  display: flex;
  flex-flow: column wrap;
  padding: 12px;

}

.react-select__value-container {
  padding: 3px;
  font-size: 95%;
}

.file-upload-confirmation-component {
  padding: 12px;

}

.file-upload-confirmation-container {
  padding: 16px 0px;
  border: grey 3px solid;
  margin: 4px 0px;
}

.file-upload-confirmation-section > * {
  padding: 3px;
}

.version-item-container-header {
}

.album-list-item-component {
  width: 100%;
}

.album-list-item-wrapper, .song-list-item-wrapper {
  text-align: left;
  width: 100%;
}

.album-list-item-heading {
  color: #808080;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
}

.song-list-item-component {
  background-color: #fafafa;
  box-sizing: border-box;
  border: solid 1px #939393;
  margin: 4px 0px;
}

.song-list-item-container {
  padding: 12px 0px;
  margin: 5px 0px;
}

.song-list-item-heading {
  font-size: 16px;
  font-weight: 500;
  padding: 16px 0px;
  color: #03363D;
}

.album-selection-page {
  box-sizing: border-box;
  color: rgb(34, 34, 34);
  display: block;
  font-size: 18px;
  line-height: 1.66667;
  text-rendering: optimizelegibility;
  text-size-adjust: 100%;
}

.album-selection-page-main-content {
  box-sizing:border-box;
  color: rgb(34, 34, 34);
  display: block;
  font-size: 18px;
  line-height: 1.66667;
  text-rendering: optimizelegibility;
  text-size-adjust: 100%;
}

.album-selection-page-container {
  box-sizing: border-box;
  color: rgb(34, 34, 34);
  display: block;
  font-size: 18px;
  line-height: 1.66667;
  margin: 0 auto;
  width: 100%;
  max-width: 1640px;
  padding-left: 24px;
  padding-right: 24px;
  text-rendering: optimizelegibility;
  text-size-adjust: 100%;
}

.albumGrid {
  box-sizing: border-box;
  color: rgb(34, 34, 34);
  display: block;
  font-size: 18px;
  line-height: 1.66667;
  text-rendering: optimizelegibility;
  text-size-adjust: 100%;
}

.albumTeaser__row {
  box-sizing: border-box;
  color: rgb(34, 34, 34);
  display: flex;
  flex-wrap: wrap;
  font-size: 18px;
  line-height: 1.66667;
  margin-left: -24px;
  margin-right: -24px;
  margin-top: 24px;
  text-rendering: optimizelegibility;
  text-size-adjust: 100%;
}

.albumTeaser__group {
  box-sizing: border-box;
  color: rgb(34, 34, 34);
  display: block;
  flex: 0 0 100%;
  font-size: 18px;
  line-height: 1.66667;
  max-width: 100%;
  padding-left: 24px;
  padding-right: 24px;
  position: relative;
  text-rendering: optimizelegibility;
  text-size-adjust: 100%;
}


.albumTeaser__groupInner {
  box-sizing: border-box;
  color: rgb(34, 34, 34);
  display: flex;
  flex-wrap: wrap;
  font-size: 18px;
  line-height: 1.66667;
  margin-left: -24px;
  margin-right: -24px;
  text-rendering: optimizelegibility;
  text-size-adjust: 100%;
}

.albumTeaser {
  box-sizing: border-box;
  color: rgb(34, 34, 34);
  display: block;
  flex-basis: 33.3333%;
  flex-grow: 0;
  flex-shrink: 0;
  font-size: 18px;
  line-height: 1.66667;
  margin-bottom: 120px;
  width: 100%;
  max-width: 33.3333%;
  min-width: 300px;
  padding-left: 24px;
  padding-right: 24px;
  position: relative;
  text-rendering: optimizelegibility;
  text-size-adjust: 100%;
  word-break: break-word;
}

.albumTeaser__inner {
 box-sizing:border-box;
 color:rgb(34, 34, 34);
 display:block;
 font-size: 18px;
 line-height: 1.66667;
 text-rendering: optimizelegibility;
 text-size-adjust: 100%;
 word-break: break-word;
 justify-content: center;
}

.albumTeaser__image {
 box-sizing: border-box;
 color: rgb(34, 34, 34);
 display: block;
 font-size: 18px;
 line-height: 1.66667;
 margin-bottom: 24px;
 padding-bottom: 67%;
 position: relative;
 text-rendering: optimizelegibility;
 text-size-adjust: 100%;
 word-break: break-word;
 height: 0
}

.albumTeaser__imageLink {
 background-color: rgba(0, 0, 0, 0);
 box-sizing: border-box;
 color: rgb(0, 132, 137);
 cursor: pointer;
 display: block;
 font-size: 18px;
 left: 0;
 height: 100%;
 line-height: 1.66667;
 position: absolute;
 text-decoration-color: rgb(0, 132, 137);
 text-decoration-line: none;
 text-decoration-style: solid;
 text-rendering: optimizelegibility;
 text-size-adjust :100%;
 top: 0;
 width: 100%;
 word-break: break-word;
}

.albumTeaser__image__element {
  border-radius: 4px;
  border-bottom-style: none;
  border-left-style: none;
  border-right-style: none;
  border-top-style: none;
  box-sizing: border-box;
  color: rgb(0, 132, 137);
  cursor: pointer;
  display: block;
  font-size: 18px;
  height: 100%;
  line-height: 1.66667;
  max-width: 100%;
  object-fit: cover;
  text-rendering: optimizelegibility;
  text-size-adjust: 100%;
  width: 100%;
  word-break: break-word;
}

header .albumTeaser__header {
 box-sizing: border-box;
 color: rgb(34, 34, 34);
 display: block;
 font-size: 18px;
 line-height: 1.66667;
 text-rendering: optimizelegibility;
 text-size-adjust: 100%;
 word-break: break-word;
}

h3 .albumTeaser__title {
 box-sizing: border-box;
 color: rgb(34, 34, 34);
 display: block;
 font-size: 24px;
 font-weight: 600;
 height: 90px;
 line-height: 1.25;
 margin-block-end: 8px;
 margin-block-start: 0px;
 margin-bottom: 8px;
 margin-inline-end: 0px;
 margin-inline-start: 0px;
 margin-left: 0px;
 margin-right: 0px;
 margin-top: 0px;
 text-rendering: optimizelegibility;
 text-size-adjust: 100%;
 word-break: break-word;
}

.albumTeaser__titleLink {
 background-color: rgba(0, 0, 0, 0);
 box-sizing: border-box;
 color: rgb(34, 34, 34);
 cursor: pointer;
 font-size: 24px;
 font-weight: 600;
 line-height: 30px;
 text-decoration-color: rgb(34, 34, 34);
 text-decoration-line: none;
 text-decoration-style: solid;
 text-rendering: optimizelegibility;
 text-size-adjust: 100%;
 word-break: break-word;
}

.albumTeaser__entrySummary {
 box-sizing: border-box;
 color: rgb(34, 34, 34);
 display: block;
 font-size: 16px;
 line-height: 1.75;
 text-rendering: optimizelegibility;
 text-size-adjust: 100%;
 word-break: break-word;
}


.albumTeaser__meta {
 box-sizing: border-box;
 color: rgb(34, 34, 34);
 display: block;
 font-size: 12px;
 font-weight: 500;
 line-height: 1.15;
 padding-top: 16px;
 text-rendering: optimizelegibility;
 text-size-adjust: 100%;
 word-break: break-word;
}

#loader-wrapper {
  margin-top: 100px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}
#loader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 100px;
  height: 100px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border: 3.5px solid transparent;
  border-top-color: #274cc6;
  border-bottom-color: #274cc6;
  -webkit-animation: spin 3s linear infinite;
  animation: spin 3s linear infinite;
}

#loader:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3.5px solid transparent;
  border-top-color: #35a8e5;
  border-bottom-color: #35a8e5;
  -webkit-animation: spin 4.5s linear infinite;
  animation: spin 4.5s linear infinite;
}

#loader:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 100%;
  border: 3.5px solid transparent;
  border-top-color: #00ddb7;
  border-bottom-color: #00ddb7;
  -webkit-animation: spin 2.25s linear infinite;
  animation: spin 2.25s linear infinite;
}

@-webkit-keyframes spin {
  0%   {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spin {
  0%   {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
